apiVersion: v1
kind: Service
metadata:
  name: python-webapp-service
spec:
  type: NodePort
  selector:
    app: pythonweb
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30080
